<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Admit One Login Page </title>
                    
    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      	      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
 
		<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
        	th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
            	        
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
                
		 
		 <div class="container">
      		<div class="col-md-offset-5 col-md-3">
      			<form class="form-signin" th:action="@{/login}" method="post" >
      
        			<h2 class="form-signin-heading">Login Page</h2>
        			 
        			<div><label> User Name : <input type="text" name="username"/> </label></div>
            		<div><label > Password: <input type="password" name="password"/> </label></div>
            		<div><input type="submit" value="Sign In"/></div>
            		             		             		        			         			        		
      			</form>
			</div>
    	</div> <!-- /container -->
		         
    </body>
</html>